
body {
  background-color: rgb(43, 2, 61);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid rgb(90, 6, 83);
  background-color: rgb(162, 95, 162);
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(171, 148, 179);
  z-index: 2;
}

#snake-head {
  background-color: rgb(80, 21, 80);
}

.apple {
  background-color: rgb(72, 48, 73);
  z-index: 1;
}